*{
    margin: 0;
}
body{
    background-color: black;
}
#box{
    margin-left: 150px;
    height:670px;
    border-style: dashed;
    border-color: orange;
    width: 0px;
}
#innerdiv{
    border-radius: 0px 20px 20px 20px;
    margin-top: 39px;
    height: 30px;
    width: 200px;
    padding: 10px;
    font-family: candara;
    font-size: 20px;
    border-style: solid;
    margin-left: -110px;
    text-align: center;
    border-width: 0px;
    background-color: orange;
    color:black;
}
#innerdiv:hover{
 background-color: whitesmoke;
 color:orange;
}